<div class="page-header">
    <h1>Sails.js Example App <small>by Rich Wandell</small></h1>
</div>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/car/list">Cars</a></li>
    <li role="presentation" class="active"><a href="/part/list">Parts</a></li>
    <li role="presentation"><a href="/passenger/list">Passengers</a></li>
</ul>
<ol class="breadcrumb">
    <li><a href="/passenger/list">Passenger</a></li>
    <li class="active"><%- passenger.first_name + " " + passenger.last_name %></li>
</ol>
<div class="jumbotron">
    <h1><%- passenger.first_name + " " + passenger.last_name %></h1>
    <p><%- passenger.bio %></p>
</div>
